.jumbotron {
  padding-top: 7rem;
  background-color: #f7de70;
}

section {
  padding-top: 8rem;
}

#pengalaman {
  padding-top: 6rem;
}

#galeri {
  background-color: #f7de70;
}

#sosmed {
  background-color: #f7de70;
}
